

:root{
  --pink:pink;
  --fontFamily: 'Parisienne', cursive;
}

.coloanaCentru{
    top: 100px;
}
html{
  xwidth: 100%;
}
body{
  width: 100%;
  background-image: url("photo/wallPaper4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}



/*Navigare Principala*/

.baraNavigare{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 150px;
  border: 2px solid white;
  border-radius: 10px;
  background: #e73895;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 13% auto 12%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "logo emailsocialsearch chef"
                       "logo . chef"
                        "logo menus chef";
  justify-items: center;
}

.logo{
  grid-area: logo;
  height: 140px;
  width: auto;
}

.x{
  list-style: none;
  margin-top: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-family: var(--fontFamily);
}
.emailSocialSearch{
  grid-area: emailsocialsearch;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.culoareEmail:hover{
  color: #ebcaca;
}
.sendEmail, .telefon{
  font-family: var(--fontFamily);
  font-weight: bold;
  color: white;
  font-size: 30px;
}
.sendEmail{
  ccolor: white;
}
.facebook, .twitter, .instagram, .youtube{
  background: white;
  display: inline-block;
  border-radius: 100%;
  padding: 2px 6px;
  font-size: 20px;
}
.instagram i, .youtube i{
  color: red;
}
.twitter i{
    color: #ffe70d;
}
.x a i{
  line-height: 30px;
}
.instagram{
  padding-left: 8px;
  padding-right: 8px;
  color: red;
}
.facebook{
  padding-left: 11px;
  padding-right: 11px;
  color: blue;
}
.twitter{
  padding-left: 8px;
  padding-right: 8px;
}
.youtube{
  color: red;
}
.facebook:hover,.twitter:hover,.instagram:hover,.youtube:hover{
  background: #ebdae0;
}
.searchText{
  border-radius: 15px;
  display: inline-block;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--fontFamily);
}
.searchIcon{
  font-size: 27px;
  color: white;
  margin-right: 5px;
}
.iconCuText{
  display: flex;
  align-items:flex-start; 
}


.menu{
  grid-area: menus; 
}
.menuHide{
  display: none;
}
.navLi{
  list-style: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  border-right: 1px dashed white;
  padding-right: 5px;
  font-family: var(--fontFamily);
  cursor: pointer;
}
.menu a:hover{
  transition: all 0.3s linear 0s;
  border-bottom: 3px solid white;
  color: #ebcaca;
}
.menu a:link{
  text-decoration: none;
}
.menu a{
  padding-bottom: 1px;
  color: white;
  text-decoration: none;

}
.menu a{
  text-decoration: none;
}
.contact{
  border: none;
}


.pastryChef{
    text-align: center;
    grid-area: chef;
  width: 100%;
}
.pozPastryChef{
    height: 110px;
    border-radius: 50%;
    
}
.pastryChef p{
    color: white;
    font-family: var(--fontFamily);
    font-size: 18px;
    font-weight: bold;
    
}  
  
 
/*Dropdown menu*/
.contentThemedCakes{
  xdisplay: none;
}
.contentThemedCakes a{
  xdisplay: block;
}
.dropDown:hover .contentThemedCakes{
  xdisplay: block;
}
/*poza mare centru*/
.pozaCentrala{
  height: 250px;
  width: 70%;
}
.divLeft, .divRight{
  width: 15%;
}
.divPozaCentrala{
  display: flex;
  margin-top: 150px;
  justify-content: center;
}

/*Produse*/
.main{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 15% auto 15%;
}
.coloanaCentru{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  align-items: center;
}
.pozeProduseIndividual{
  height: 201px;

}

.produseIndividual{
  background: #e73895;
  color: white;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-weight: bold;
  line-height: 85%;
  font-size: 25px;
  box-shadow: 10px 10px 40px #e73895;
  cursor: pointer;
}
.produseIndividual:hover{
  box-shadow: 5px 5px 40px #e4239d;
  transform: scale(1.2);
  transition: transform 1s;
  background: #b62089;
  z-index: 1;
}


/*footer*/
footer{

  border-radius: 10px;
  width: 900px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  text-align: center;
  background:#e73895;
  font-size: 17px;
  font-weight: bold;
  color: white;
  z-index: 50;
}
.footerText{
  padding-top: 3px;
}

@media(max-width: 1140px){
  .coloanaCentru{
    grid-template-columns: auto auto auto;
  }
}

@media(max-width: 750px){
  .baraNavigare{
    position: static;
    height: 350px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "logo chef" "emailsocialsearch emailsocialsearch" "menus menus";
    justify-items: self-start;
  }
  .emailSocialSearch{
    display: inline;
  }
  .iconCuText, .menu{
    margin-top: 20px;
  }
  .logo{
    margin-left: 0px;
  }
  .pastryChef{
    text-align: left;
  }
  .menuHide{
    display: block;
  }
  .divNavLi{
    display: none;
    position: absolute;
  }
  .menuHide:hover .divNavLi{
    display: block;
  }
  
  .coloanaCentru{
    grid-template-columns: auto;
  }
  
}


/*alte pagini*/
.telefonIcon{
  color: blue;
  font-size: 28px;
}
